force-app/main/default/flows/Normalize_all_contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Normalize_names</name>
        <label>Normalize names</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>NameNormalizer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_records</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>strategyCase</name>
            <value>
                <stringValue>uppercase</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fields</name>
            <value>
                <elementReference>Fields_To_Normalize</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_all_contacts</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_fields_to_normalize</name>
        <label>Set fields to normalize</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Fields_To_Normalize</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FirstName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fields_To_Normalize</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Last Name</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Normalize_names</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Normalize all contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Normalize all contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_contacts</name>
        <label>Get all contacts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_fields_to_normalize</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_records</name>
        <label>Update records</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputReference>Get_all_contacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_contacts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Fields_To_Normalize</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
